.card {
  text-decoration: none;
  width: 250px;
  height: 460px;
  border-radius: 15px;
  padding: 1.5rem;
  margin: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}


.name {
  width: 250px;
  height: 50px;
  margin: 0px;
  display: flex;
  justify-content: center;
  /* border: solid black; */
}

.name .titleName {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.514);
  text-transform: uppercase;
  margin: 0px;
}

.imgContein {
  width: 250px;
  height: 330px;
  margin: 0px;
  display: flex;
  justify-content: center;
  /* border: solid black; */
}

.imgProduct {
  Object-fit: cover;
  max-width: 250px;
  width: auto;
  max-height: 320px;
  height: auto;
  border-radius: 15px;
  transition: all ease-in-out 0.4s;
  margin: 0px;
}

.imgProduct:hover {
  opacity: 1;
  transform: scale(1.1)
}



.imgCarrito {
  width: 30px;

}

.info {
  color: rgb(12, 11, 11);
  opacity: 1;
  border-radius: 10px;
  width: 100%;
}

.info .cuotas,
.precio {
  letter-spacing: 1px;
  font-size: 15px;
  color: rgb(12, 11, 11);
  width: 250px;
  height: 40px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 700;
}

.footerCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.agregarCarrito {
  text-decoration: none;
  transition: all ease-in-out 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 40px;
  margin: 0px;
}

.buttonCarrito {
  background-color: rgba(0, 0, 0, 0.322);
  border-radius: 40px 0 0 40px;
  height: 40px;
  width: 50px;

}

.comprar {
  font-size: 10px;
  background-color: rgba(0, 0, 0, 0.322);
  border-radius: 0 40px 40px 0;
  height: 40px;
  transition: all ease-in-out 0.4s;
}

.agregarCarrito:hover {
  transform: scale(1.1)
}

.left {
  width: 65px;
}

.corazon {
  width: 50px;
  border-radius: 80px;
}

.right {
  width: 65px;
}

.like {
  transition: all ease-in-out 0.4s;
}

.like:hover {
  transform: scale(1.1)
}