.container {
    margin: 10px;
}

.imgCarrito {
    /* float: left; */
    width: 40px;
    filter: invert(100%) sepia(0%) saturate(9%) hue-rotate(216deg) brightness(105%) contrast(98%);
}


.spa {
    color: white;
    /* background-color: red; */
    /* border-radius: 3rem; */
    position: absolute;
    top: -10px;
    margin-left: 3px;
}

.divCart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70px;
    width: 70px;

    background-color: black;
    /* width: 70px;
    height: 50px; */
}

.divCart:hover {
    background: linear-gradient(177deg, #a182c59c 0%, #99e8fc 100%);
    /* background-color: rgba(73, 165, 226, 0.8); */
    width: 70px;
    border-radius: 50px;

}