.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: white;
}
 
.containerDiv{
    display: grid;
    grid-template-columns: 67% 33%;
}

.imgContain {
    width: 100px;
    height: 80px;
    margin: 0px;
    display: flex;
    justify-content: center;
}
.tableSection{
    height: 650px;
    overflow: auto;
}
table{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
    border-collapse: collapse;
}

thead th{
    position: sticky;
    top: 0;
    background-color: #f6f9fc;
    color: #8493a5;
    font-size: 15px;
}

table td input {  
    height: 20px; 
}
input{
    height: 20px;
    width: 50px;
}

th, td{
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    word-break: break-all;
    text-align: center;
}

.summary{
    margin: 160px 0 0 80px;
}

.btnDelete{
    background-color: transparent;
    border: none;
    filter: invert(21%) sepia(70%) saturate(5842%) hue-rotate(356deg) brightness(104%) contrast(111%);
}

.imagDelete{
    background-color: transparent;
}

.precio {
    letter-spacing: 1px;
    font-size: 15px;
    color: rgb(12, 11, 11);
    width: 250px;
    height: 40px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-weight: 700;
}

.item{
    color: grey;
}

.btnCheck {
    width: 270px;
    height: 47px;
    background-color: #3483FA;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    letter-spacing: normal;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.btnCheck:hover {
    transform: scale(1.1)
}

.btnSeguirComp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    width: 270px;
    height: 47px;
    background-color: #4189e643;
    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #3483fa;
    font-size: 16px;
    line-height: 48px;
    text-align: center;
    letter-spacing: normal;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 0px;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
}

.btnSeguirComp:hover {
    transform: scale(1.1)
} 
