*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.dashContainer{
  background-color:rgba(128, 128, 128, 0.258);
  display: block;
  padding-left: 30px;
  height: max-content;
  /* padding-right: 200px; */
  padding-top: 1rem;
}


.cardUserContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 310px;
}
.cardUserAdmin {
  display: block;
  align-items: flex-start;
  justify-content: center;
  /* flex-direction: column; */
  border: 1px gray solid;
  flex-direction: row;
  background: linear-gradient(190deg, #5B7CE8 0%, #fff 91%);
  border-radius: 22px 5px 22px 5px;
  padding: 1rem;
  width: 220px;
  height: 300px;
  margin: 1rem;
  color:rgb(135, 164, 213);
  font-weight: 600;
  padding-bottom: 0px;
  
}

/* From uiverse.io by @absoluteSTrange */
h1{
  justify-items: center;
}
p{
  background-color: #fff;
  border-radius: 5px;
  border: 1px blue solid;
}