.container {
    display: flex;
    color: var(--claro);
    justify-content: center;
    width: 100%;
}

.subcontainer {
    display: flex;
    justify-content: center;
}

.paginado {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--oscuro);
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    padding-left: 4px;
    border: 2px var(--medio) solid;
    cursor: pointer;
}

.paginadoCurrent {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--medio);
    /* background-color: #3483fa; */
    margin-left: 10px;
    width: 35px;
    height: 35px;
    font-weight: bold;
    border-radius: 50%;
    padding-left: 4px;
    color: var(--oscuro);
    border: 2px var(--oscuro) solid;
    cursor: pointer;
}

.container li:hover {
    /* background-color: rgb(108, 106, 106); */
    opacity: 0.7;


}