.container{
    display: flex;
    
    color: white;
    align-content: center;
    display: flex;
    width: 100%;

  
    
    
}
.subcontainer{
    display: flex;
    margin-left: 500px;
 
    
}
.paginado{
    display: inline-block;
    background-color: black;
    margin-left: 10px;
    width: 15px;
    border-radius: 5px;
    padding-left: 4px;
    border: 2px white solid;
    cursor: pointer;
    
  
    
}
.container li:hover{
    background-color: white;
    width: 21px;
    color: black;
    border: 2px black solid;
    
}

