.header {
  color: white;
  text-shadow: 3px -2px 4px #9600ff, -3px 2px 4px #00bf8c;
  background: transparent;
  transition: 250ms;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header:hover {
  transition: 300ms;
  color: white;
  text-shadow: 3px -2px 4px #00bf8c, -3px 2px 4px #9600ff;
  background: transparent;
}
.navBar {
  display: flex;
  height: 6.1rem;
  width: 100vw;
  background: black;
  justify-content: space-around;
  align-items: center;
}

.navBtn {
  font-size: 0.875rem;
  padding: 0.6rem 0.75rem 0.6rem 0.75rem;
  background-color: transparent;
  color: floralwhite;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  border-radius: 0.375rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 180ms;
}
.navBtn:hover {
  transition: 180ms;
  background-color: white;
  color: black;
}
.link {
  text-decoration: none;
  color: floralwhite;
}
.link:hover {
  color: black;
}
.navBtnLogin {
  font-size: 0.875rem;
  padding: 0.6rem 0.75rem 0.6rem 0.75rem;
  background-color: transparent;
  color: floralwhite;
  margin-right: 0.5rem;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  border-radius: 0.375rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 300ms;
}
.navBtnLogin:hover {
  transition: 190ms;
  --animation: light 200ms ease 0s 1 normal forwards;
  background: linear-gradient(177deg, #dc68ff9c 0%, #67ff7b 100%);
  color: rgb(255, 255, 255);
  text-shadow: 3px -2px 4px #ffffff67, -3px 2px 4px #0000007e;
}
@keyframes light {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    box-shadow: 0px 6px 13px 0px #67ff7b;
  }
}
.navBtnUser {
  border-radius: 50%;
  font-size: 1.4rem;
  padding: 0.5rem 0.78rem 0.5rem 0.78rem;
  background-color: rgb(0, 201, 246);
  color: rgb(255, 255, 255);
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  margin-left: -1.5rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 300ms;
}
.navBtnUser:hover {
  transition: 190ms;
  background: linear-gradient(177deg, #dc68ff9c 0%, #67ff7b 100%);
  color: none;
  text-shadow: 3px -2px 4px #ffffff67, -3px 2px 4px #0000007e;
}
