

.container{
  
  justify-content: space-around;
  /* background-color: rgb(141, 159, 159);
   */
  
}
.buttons{
  display: inline-flex;
  /* background-color: aqua; */
  flex-direction: column;
  

}
.display{
  display: inline-flex;
  margin-left: 5rem;
}
.user{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: (--medio);
}