.container{
    background-color: rgb(9, 9, 9);
    width: 100%;
    display: inline-flex;
    position: absolute;
    color: white;
    
}
.redeslist{
    display: inline-flex    ;
    margin-left: 5px;
    margin-top: 40px;
    margin-right: 20px;
    padding-left: 0px;
    /* background-color: bisque; */


 
  
}
ul{
    list-style-type: none;
}

.redes{
    padding-left: 100px;
    margin-bottom: 11px;
    margin-right: 30px;
    
    
}
/* h5{
  display: flex;
    
    
} */
.pedido{
    margin-left: 15px;
    margin-right: 80px;
}

.listpedidos{
    padding-left: 0%;
}
.responsabilidad{
    margin-right: 80px;
}
.respon{
padding-left: 0%;
}

.acerca{
margin-left: 30px;
}

.listacerca{
    padding-left: 0%;
}
span{
    display: flex;
    margin-top: 22px;
}

