/* From uiverse.io by @CristianMontoya98 */

.container {
  display: flex;
  align-items: center;
  height: 50px;
  max-height: 50px;
  
  align-items: center;
  width: 30%;
  max-width: 30%;
  
 
}

.container form {
  width: 100%;
}

.btn {
  width: 5%;
  height: 50px;
  margin: 0.4em;
  background: black;
  color: white;
  border: none;
 
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  /* box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5; */
 
}

/* .btn:hover {
  color: black;
}

.btn:after {
  content: "";
  background: white;
  position: absolute;
  z-index: -1;
  left: -20%;
  right: -20%;
  top: 0;
  bottom: 0;
  transform: skewX(-45deg) scale(0, 1);
  transition: all 0.5s;
}

.btn:hover:after {
  transform: skewX(-45deg) scale(1, 1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
} */

/* From uiverse.io by @adamgiebl */
/* From uiverse.io by @Yaseen549 */
.input {
  border: none;
  width: 90%;
  height: 80%;
  font-weight: 200;
  padding: 15px;
  background-color: #fff;
  /* box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5; */
  outline: none;
  border: none;
  font-weight: bold;
  background-image: url('../../image/search.png');
  background-position: 98%;
  background-size: 7%;
  background-repeat: no-repeat;
}

